<footer>
    <div class="container p-5 pb-2">
        <div class="mb-2">
            <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/matias-centurion-a1baa9218/" target="_blank" role="button">
                <i class="fab fa-linkedin-in"></i>
            </a>
            <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/m.e.centurion/" target = "_blank" role="button">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/MeCent" target= "_blank" role="button">
                <i class="fab fa-github"></i>
            </a>
        </div>
        <div class="text-center p-1">
            <p>© 2022 <b>Matias Centurion</b> - Todos los derechos reservados</p>
            <a class="text-white" routerLink="">INICIO</a>
        </div>
    </div>
</footer>
