<!-- Seccion Formacion Académica -->
<section>
    <div class="container educacion ms-1 mt-2">
        <div class="row">
            <div class="col-10">
                <h3>Formación Académica</h3>
            </div>
            <div class="col-2">
                <button type="button" class="btn btn-dark" title="Agregar Educación" routerLink="/nuevaedu" *ngIf="isLogged">
                    <i class="fa-solid fa-plus"></i>
                </button>
            </div>
        </div>
        <div class="row p-2" *ngFor="let Educacion of educacion">
            <div class="col-10 descripcion" >
                <ul>
                    <h2>{{Educacion.nombreEd}}</h2>
                    <li>{{Educacion.descripcionEd}}</li>
                </ul>

            </div>
            <div class="col-2">
                <button type="button" class="btn btn-dark" title="Editar Educación" routerLink="/editedu/{{Educacion.id}}" *ngIf="isLogged">
                    <i class="fa-solid fa-pen-to-square"></i>
                </button>
                <button type="button" class="btn btn-dark" title="Eliminar Educación" (click)="delete(Educacion.id)" *ngIf="isLogged">
                    <i class="fa-solid fa-trash"></i>
                </button>
            </div>
        </div>
    </div>
</section>