/* -- Banner -- */

.banner {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(
        rgba(0,0,0,0.2),
        rgba(0,0,0,0.9)),
        url(/assets/img/banner_mc.jpeg);
    position: relative;
    width: 100%;
    height: 40vw;
}

/* -- Perfil -- */

.descripcion {
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 4vw;
    color: #fff;
    display: inline-block;
}

h3 {
    font-size: 2.5vw;
    margin-bottom: 2.5vw;
}

h4 {
    font-size: 1.5vw;
    color: #fff;
}